<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="container p-5">
  <div class="card">
    <div class="card-header" style="font-family: Poetsen One, sans-serif; background-color: #FFF8F1; color: #F8405E; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
      <h1>Alterar cliente</h1>
    </div>
    <div class="card-body" style="font-family: Nunito, sans-serif; font-size: 110%;">
      <form method="POST" action="/clientes/update/<%= cliente.id %>">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome do cliente:</label>
          <input type="text" name="nome" id="nome" value="<%= cliente.nome %>" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="cpf" class="form-label">CPF do cliente:</label>
          <input type="text" name="cpf" id="cpf" value="<%= cliente.cpf %>" class="form-control cpf" required>
        </div>

        <div class="mb-3">
          <label for="endereco" class="form-label">Endereço do cliente:</label>
          <input type="text" name="endereco" id="endereco" value="<%= cliente.endereco %>" class="form-control" required>
        </div>

        <input type="hidden" name="id" value="<%= cliente.id %>">

        <button type="submit" class="btn" style="background-color: #F8405E; color: #fff;" onclick="return confirm('Confirma as alterações realizadas para o cliente <%= cliente.nome %>?')">
          Alterar
        </button>
      </form>
    </div>
  </div>
</div>


<%- include ('partials/footer.ejs') %>
